@use "./variables" as *;

.page {
  .products {
    .card {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 15vw;
      height: auto;
      border: 1px $white dotted;
      border-radius: 16px;
      padding: 8px;
      color: #333;
      border: #c8ccb8 2px solid;

      &:hover {
        border-color: $jazz;
      }
    }
  }
  img {
    align-self: center;
    aspect-ratio: 4/5;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
