@use "./variables" as *;

.header {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $jazz;
  color: white;
  font-weight: bold;

  a {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    align-items: center;
  }

  a:hover {
    background-color: $lapis;
  }
}
